<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transport App Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<!--<div class="container text-center">
    <div><h1>System zarządzania wyjazdami</h1></div>
    <div class="p-2">
        <a class="h2" th:href="@{/cards}">Lista kart</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/cards/new}">Stwórz karte</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/trips}">Lista tras</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/trips/new}">Dodaj trase</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/fuel/new}">Dodaj tankowanie</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/fuels}">Lista tankowań</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/counters/new}">Liczniki pojazdu</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/counters}">Lista liczników</a>
    </div>
</div>-->
<div class="container text-center">
    <div><h1>Generator kard drogowych</h1></div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Numer karty</th>
                <th>Zarządzaj</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="card : ${listCards}">
                <tr>
                    <td>[[${card.number}]]</td>
                    <td>
                        <a th:href="@{/list/{id}(id=${card.id})}">Wybierz</a>
                        &nbsp;
                        <a th:href="@{'/delete/' + ${card.id}}">Usuń</a>
                        &nbsp;
                        <a th:href="@{/test/{id}(id=${card.id})}">Template</a>
                        <p th:if="${message != null}" th:text="${message}" class="alert alert-danger" role="alert"></p>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <a th:href="@{/new}" class="btn btn-info" role="button">Dodaj nową karte</a>
    </div>
</div>
</body>
</html>